<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name and ID</title>
</head>
<body>
    <!-- <ul> -->
        <h2>Cars Information</h2>
        <!-- <li><a href="./index">indexpage</a></li> -->
        <!-- <a href="/flowers">Flowers Page</a>
        <a href="/trees">Trees Page</a>
        <a href="/cars">Cars Page</a> -->
        
        <!-- <% for ( let i =0 ; i < users.length;i++) { %>
            <li> <%- users[i].name %> </li>
        <% } %>  -->
    <!-- </ul> -->
   
</body>
</html>